<div class="container">
	<div class="row">
		<div class="col-10">
			<h3>ジャンルを追加する</h3>
			<%= form_with model: @genre do |f| %>
			<div class="form-group">
				<%= f.label :name %>
				<%= f.text_field :name, class:"form-control" %>
			</div>
				<%= f.submit "作成", class:"btn btn-success" %>
			<% end %>
		</div>
	</div>
</div>