<div>
	<h1>キャンプサイト一覧</h1>
	<div>
		<% @campsites.each do |campsite| %>
		<div>
			<%= campsite.name %>
			<%= campsite.explanation %>
			<%= link_to "詳細", admin_campsite_path(campsite), class:"btn btn-success" %>
		</div>
		<% end %>
	</div>
</div>
